# まずは全部ignore
/*
/.*
# 管理対象にしたいファイルだけignoreから除外する
!/.gitconfig
!/.gitignore
!/_gvimrc
!/_vimperatorrc
!/_vimrc
!/.zshenv
!/.zshrc
!/dot.nodoka
!/.jshintrc
!/.bashrc
!/.vrapperrc
!/.sqliterc
!/vimperator/colors/*
!/vimperator/plugin/*
!/.vim/tmp/.gitkeep
# その他
!/AutoHotKey.ahk
!/cutkey.ahk
!/vim.ahk
# 管理対象のディレクトリ内でも除外したいものはこの下に追加する
.DS_Store
.svn
*.pyc
.netrwhist
.log
