[user]
	email = lobotomyplease@gmail.com
	name = TakashiMatsuda
[core]

	editor = "'C:/vim/vim.exe' -c 'set fenc=utf-8'"
	autocrlf = true

  #エスケープシーケンスの設定
  pager = less -cm

  #gitのエスケープ処理を回避
	quotepath = false

[alias]
    tree = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'

[color]
    ui = true
