###############
#vimperator_settings
###############

/vimperator/info/*

###############
#.vim_settings
###############

#フォルダ階層保持
!.gitkeep

#neobundle保持
#/.vim/bundle/*
#!/.vim/bundle/.neobundle/install_info
#!/.vim/bundle/.neobundle/tags_info
#!/.vim/.neobundle/doc/*.txt
#!/.vim/bundle/.NeoBundle.lock

####
#vim
####
.vim/bundle/
.vim/tmp/
